<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/about.css">
  <link rel=”manifest” href="../manifest.json">
  <title>Taran</title>
</head>
<body>
  <div id="nav"></div>  
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-xs-6 offset-xs-3 text-center">
      <h1 class="mt-4 mb-1">About</h1>
    </div>
  </div>


  <div class="space"></div>
  <div class="row traits">
    <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center">
      <div class="icons my-3">
          <span class="iconify" data-icon="mdi-speedometer" data-inline="false"></span>
      </div>    
      <h3>Fast</h3>
      <p>Fast load times and lag free interaction, my highest priority.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center">
      <div class="icons mt-3 mb-3">
          <span class="iconify" data-icon="mdi-cellphone-link" data-inline="false"></span>
      </div>    
      <h3>Responsive</h3>
      <p>My layouts will work on any device, big or small.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center">
      <div class="icons mt-3 mb-3">
          <span class="iconify" data-icon="mdi-lightbulb-outline" data-inline="false"></span>
      </div>    
      <h3>Intuitive</h3>
      <p>Strong preference for easy to use, intuitive UX/UI.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center">
      <div class="icons mt-3 mb-3">
          <span class="iconify" data-icon="mdi-rocket" data-inline="false"></span>
      </div>    
      <h3>Dynamic</h3>
      <p>Websites don't have to be static, I love making pages come to life.</p>
    </div>  
  </div>

  
  <div class="space"></div>

  <div class="row text-center my-3 mx-2">
    <div class="mb-4 intro col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
      <img src="../assets/profile.jpeg" alt="" class="img img-fluid profileImg mb-3">
      <h2>Who am I ?</h2>
      <p>I am working as an Angular developer for <a href="https://kite.work/">KITE</a> in Delhi, India. <br> I love creating websites with great user experience.</p>
      <a href="">
        <h5>Let's make something special together.</h5>  
      </a>
      
    </div>

    <div id="technologies" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <!-- Structure of each technology that is created dynamically -->
      <!-- 
      <div class="fullBar mb-3">
        <div class="techValue">
          <div class="techName">
            <strong>CSS</strong>
          </div>
        </div>
        <span class="percentage ml-auto">80%</span>
      </div> 
      -->
    </div>
    
  </div>
  <div class="space"></div>
  <div id="contact" class="mt-3"></div>

</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
<script src="../javascripts/about.js"></script>
<!-- <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script> -->
</html>
