<!doctype html>
<html lang="en">
<head>
  <link rel=”manifest” href="../manifest.json">
  <link rel="stylesheet" href="../stylesheets/contact.css">
</head>
<svg id="vShape" width="100%" height="100" viewBox="0 0 100 100"
 preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">  
  <path d="M 0 0 L50 100 L100 0 Z" fill="white" stroke="white">
  </path>  
</svg>
<div id="contactLinks" class="text-center pb-4">
  <h2 class="pt-5">Contact</h2>
  <div class="row text-center">
    <div class="col-md-6 offset-md-3">
      Contact me via these
    </div>
  </div>
  <div class="row my-3 mx-4">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 contactLinks">
      <div class="contactIcons mt-3 mb-3">
          <a href="https://www.linkedin.com/in/taran-pal-singh-221659121/">
            <span class="iconify" data-icon="mdi-linkedin" data-inline="false"></span>
      </div>  
      <div class="contactIcons mt-3 mb-3">
          <a href="https://www.instagram.com/tp.taran/">
            <span class="iconify" data-icon="mdi-instagram" data-inline="false"></span>
      </div>
      <div class="contactIcons mt-3 mb-3">
          <a href="">
        <span class="iconify" data-icon="mdi-facebook" data-inline="false"></span>
      </div>  
      <div class="contactIcons mt-3 mb-3">
        <a href="">
          <span class="iconify" data-icon="mdi-twitter" data-inline="false"></span>
        </a>
      </div>  
    </div>
  </div>
  <h6 class="copyright">TARAN PAL SINGH</h6>
</div>

<script src="../javascripts/contact.js"></script>
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
</html>