<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel=”manifest” href="../manifest.json">
  <link rel="stylesheet" href="../stylesheets/global.css">
  <link rel="stylesheet" href="../stylesheets/issues.css">
  <title>Alex Svehla</title>
</head>
<body>

  <div id="nav"></div>  

  <div class="background-img-panel">
    <img src="../assets/background1.jpg" class="img img-fluid bg-img" alt="">
  </div>

  <h1 class="title text-center my-5">ISSUES</h1>

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <div class="accordion issues" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Health and Safety
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              During these uncertain times I believe in putting priority in everyone’s health. I will continue to support mandatory mask mandates as long as COVID continues to threaten our livelihood. Unfortunately, the federal government refuses to pass a new stimulus bill that would help San Antonian’s ensure their well-being during this difficult time, therefore I will work with other members of city council to cooperate with our local non-profits and agencies to ensure that aid is distributed to those in need.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Protecting Workers
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              I stand with the Sick and Safe Leave Ordinance that was passed in 2019 – a law that is now pending in court. More than ever people need time away from work where they can take care of their health while not having to worry about their paycheck. An estimated 354,000 San Antonian’s would benefit from this law. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Education
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Due to COVID, our families and schools have been forced into a commitment of full digital learning with little time for preparation. Once we begin transitioning all of our students back into classrooms when the pandemic is over, I strongly believe in supporting districts in moving towards digital curriculums. The collegiate and professional world demands the mastery of technology, so it is important that school curriculum start reflecting these real world demands. Additionally, digital learning offers new and improved student opportunities, flexibility, coordination and engagement. Overall, my commitment to education means that no funding would ever be removed from K-12 education.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Property
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              During this difficult time for many, home values and property taxes are only going up, with no relief in sight. That is why I will fight to help find relief.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Assisting Our Emergency Responders
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Not all 9-1-1 calls require the assistance of our police or EMS personnel. Some calls into the hotline are cries for help that would be best handled by mental professionals. That is why I am recommending the creation of a mental health crisis unit such as the ones created in New York, Los Angeles, Denver and other major cities. Not only would this better assist people in crisis but it would free our emergency responders for other emergencies.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Improving Our Community
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              In San Antonio, it is basically a necessity to have your own car for transportation. One-fourth of our population relies on our public transportation, which has proven to be an unreliable and slow method of transport. Improving public transportation will not only help these people but stimulate our economy and protect our environment, which is why I support continued initiatives into public transportation.
              <br>
              San Antonio is continuing to be one of the fastest growing cities in America. This means it is necessary to continue efforts improving our infrastructure in order to attend to the future growth our district and city will see in the future. That’s why I will fight to improve our roads, sidewalks, parks, bike lanes and street lights in the area.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Standing For What’s Right
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              On May 26th, 2020 activists took to the streets to demand justice for the death of George Floyd and bring an end to racial injustice. I stand with Black Lives Matter and the social justice movements that have occurred in wake of so many personal tragedies.            
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              It’s Hot Here!
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Experts predict that San Antonio could see double the amount of 100-degree days by 2036 if efforts aren’t taken to curb global warming. Personally, I think it is hot enough here already! Therefore, I promise to take efforts to protect our environment and protect us from more 100-degree days than we need to endure.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              Why Alex?
            </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              It is important to me to be a representative of the people, therefore I promise to listen to the people of district 10. I will make myself available by social media, e-mail and telephone to hear your concerns and ideas on how we can improve our district and city. Additionally, I believe in being transparent by reporting on my progress, developments and goals. I also promise that I will not be taking special interest or PAC money during my campaign. I believe in the ideals of a grassroots campaign, which is why I will only be accepting donations from individuals. I believe that I will represent the values, goals, ideals and desires of district 10 better than any candidate. Thank you to all who support me during this time.
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <div class="col-md-4">
      <div class="side-img-panel">
        <img src="../assets/portrait2.jpg" class="side-img" alt="">
      </div>
    </div>
  </div>

  <div id="contact"></div>  
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="../javascripts/issues.js"></script>
</html>
