*{
    margin: 0;
    padding: 0;
}

.space{
    height: 50px;
}

.row{
    margin: 0;
}

.icons{
    background-color: #04C2C9;
    width: 4rem;  
    height: 4rem;
    margin: auto;
    text-align: center;
    position: relative;
    border-radius: 50%;
}

.iconify{
    width: 2rem;
    height: 2rem;    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.profileImg{
    border-radius: 50%;
    width: 50%;
}

.fullBar{
    background-color: #eee;
    color: #666666;
    width: 100%;
    max-width: 600px;
    height: 28px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.techName{
    background-color: #04C2C9;
    color: white;
    width: 110px;
    height: 28px;
    top: 0;
    left: 0;
    position: absolute;
}

.techValue{
    background-color: #00A1A7;
    height: 28px;
    top: 0;
    left: 0;
    position: absolute;
    transition: 2s 0.1s width ease-in-out;
}

.percentage{
    right: 10%;
}

#technologies{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.traits p{
    font-weight: 400;
    line-height: 1.2;
}

.traits h3{
    font-weight: 500;
    line-height: 1.5;
}

.intro p, h5{
    font-weight: 400;
    line-height: 1.5;
}

.intro h2{
    font-weight: 700;
    line-height: 3; 
}

#technologies strong{
    font-weight: 400;
}
span{
    font-weight: 300;
}

@media(max-width: 700px){
    
    .profileImg{
        border-radius: 50%;
        width: 70%;
    }
    .traits p{
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.2; 
    }

    .traits h3{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .intro p, h5{
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.2;
    }
    .intro h2{
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 3; 
    }
    #technologies strong{
        font-size: 0.8rem !important;
        font-weight: 300 !important;
    }
    .techName{
        width: 68px;
    }
    .space{
        height: 20px;
    }
    h1{
        font-size: 1.75em;
    }
}