*{
  margin: 0;
  padding: 0;
}

button, button:focus {
  outline: none;
  border: none;
}

.title {
  color: #18489D;
  background-color: #F4D546;
}

#contact {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 600px) {
  .mobile {
    display: none;
  }

  .row {
    width: 100%;
  }
  
}

.row>* {
  padding-right: 0;
}