body {
    width: 100%;
    height: 100%;
    /* background-color: navy; */
    /* remove */
    /* padding-bottom: 20vh; */
}

.background-img-panel {
    width: 80%;
    height: calc(100vh - 80px);
    margin: auto;
}

.background-img-panel .bg-img {
    width: 100%;
    height: 100%;
}

.title {
    color: #18489D;
}

.accordion-button {
    font-size: 2rem;
}

.accordion-body {
    font-size: 1.3rem;
}

.side-img {
    width: 100%;
}

@media (max-width: 600px) {

    .background-img-panel {
        width: 100vw;
        height: 40vh;
    }

    .accordion-button {
        font-size: 0.8rem;
    }
            
    .accordion-body {
        font-size: 0.7rem;
    }
}