body {
    width: 100%;
    height: 100%;
    /* background-color: navy; */
    /* remove */
    padding-bottom: 20vh;
    color: ;
}

.background-img-panel {
    width: 80%;
    height: calc(100vh - 80px);
    margin: auto;
}

.background-img-panel .bg-img {
    width: 100%;
    height: 100%;
}

.title {
    color: #18489D;
}

.accordion-button {
    font-size: 1.2em;
}

.accordion-body {
    font-size: 1.1em;
}

.side-img {
    width: 100%;
}